@page "/"

@inject Data.LoginState loginState;

@if (loginState.IsLoggedIn)
{
    <h1>Hello, @loginState.username</h1>
    <p>Use navigation bar to go to your lists</p>
}
else
{
    <h1>Hello, Guest</h1>
    <p>Use navigation bar to log in or register new account</p>
}




