@page "/"
@using Ubiety.Dns.Core
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using ListsWebApp.Data

@inject Data.LoginState loginState;
@inject ProtectedLocalStorage browserStorage


@if (loginState.IsLoggedIn)
{
    <h1>Hello, @loginState.username</h1>
    <p>Use navigation bar to go to your lists</p>
}
else
{
    <h1>Hello, Guest</h1>
    <p>Use navigation bar to log in or register new account</p>
}


@code
{

    protected override async Task OnInitializedAsync()
    {
        var savedAcc = await browserStorage.GetAsync<string>("acc");
        string json = savedAcc.Success ? savedAcc.Value : "";
        if (json != "")
        {
            LoginState ls = Newtonsoft.Json.JsonConvert.DeserializeObject<LoginState>(savedAcc.Value);
            loginState.SetLogin(ls);
        }
    }



}

