@page "/login"
@using DataLibrary
@using ListsWebApp.Models
@using Microsoft.Extensions.Configuration
@using System.ComponentModel.DataAnnotations
@using System.Text.Json.Serialization
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject Data.LoginState loginState;
@inject IDataAccess _data
@inject IConfiguration _config
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject IJSRuntime JsRuntime;
@inject ProtectedLocalStorage browserStorage




<h3>Login</h3>

@if (!loginState.IsLoggedIn)
{
    <form @onsubmit="@HandleLogin">
        <div style="text-align:center">
            <label>Username </label>
            <input id="UserName: " name="UserName" type="text" @bind-value="username" />
        </div>
        <div style=" text-align:center">
            <label>Password </label>
            <input id="Password" name="Password" type="password" @bind-value="password" />
        </div>
        <div style="text-align:center">
            <button type="submit">
                Submit
            </button>
        </div>
    </form>
}

@code {
    string username = "";
    string password = "";
    List<User> users;

    async Task HandleLogin()
    {
        string sql = $"select * from users where login = '{username}' and password = '{password}'";
        users = await _data.LoadData<User, dynamic>(sql, new { }, _config.GetConnectionString("default"));
        if (users.Count == 1)
        {
            loginState.SetLogin(true, username, users[0].Id);
            string json = Newtonsoft.Json.JsonConvert.SerializeObject(loginState);
            await browserStorage.SetAsync("acc", json);
            navigationManager.NavigateTo("/lists");

        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "Wrong username or password");

        }
    }

}
